if ARCH_ALLWINNER

config H6_V200
	bool "allwinner h6 family"
	select ARM64
	select ARMV8_SET_SMPEN
	select MISC
	select SUPPORT_SPL
	select ALLWINNER_DRAM_DW
	select ALLWINNER_DRAM_DW_32BIT
	imply  SPL_TIMER if SPL
	imply  SPL_LOAD_FIT  if SPL
	imply  SPL_FRAMEWORK  if SPL
	imply  SPL_PRINTF  if SPL

choice
	prompt "SPL Image Type"
	default SPL_IMAGE_TYPE_ALLWINNER_EGON

config SPL_IMAGE_TYPE_ALLWINNER_EGON
	bool "eGON (normal)"
	help
	  Select this option to embed the SPL binary in an eGON.BT0 image,
	  which is compatible with the normal boot ROM (NBROM).

	  This is usually the correct option to choose.

config SPL_IMAGE_TYPE_ALLWINNER_TOC0
	bool "TOC0 (secure)"
	help
	  Select this option to embed the SPL binary in a TOC0 image,
	  which is compatible with the secure boot ROM (SBROM).

endchoice

config SPL_IMAGE_TYPE
	string
	default "sunxi_egon" if SPL_IMAGE_TYPE_ALLWINNER_EGON
	default "sunxi_toc0" if SPL_IMAGE_TYPE_ALLWINNER_TOC0

config ARM_BOOT_HOOK_RMR
	bool
	depends on ARM64
	default y
	select ENABLE_ARM_SOC_BOOT0_HOOK
	---help---
	Insert some ARM32 code at the very beginning of the U-Boot binary
	which uses an RMR register write to bring the core into AArch64 mode.
	The very first instruction acts as a switch, since it's carefully
	chosen to be a NOP in one mode and a branch in the other, so the
	code would only be executed if not already in AArch64.
	This allows both the SPL and the U-Boot proper to be entered in
	either mode and switch to AArch64 if needed.


config RESERVE_ALLWINNER_BOOT0_HEADER
	bool "reserve space for Allwinner boot0 header"
	select ENABLE_ARM_SOC_BOOT0_HOOK
	---help---
	Prepend a 1536 byte (empty) header to the U-Boot image file, to be
	filled with magic values post build. The Allwinner provided boot0
	blob relies on this information to load and execute U-Boot.
	Only needed on 64-bit Allwinner boards so far when using boot0.

config ALLWINNER_SRAM_ADDRESS
	hex
	default 0x20000
	help
		Older Allwinner SoCs have their mask boot ROM mapped just below 4GB,
		with the first SRAM region being located at address 0.
		Some newer SoCs map the boot ROM at address 0 instead and move the
		SRAM to a different address.

config SYS_SOC
	default "allwinner"

config DRAM_CLK
	int "allwinner dram clock speed"
	default 744 if H6_V200
	help
		Set the dram clock speed, valid range 240 - 480 (prior to sun9i),
		must be a multiple of 24. For the sun9i (A80), the tested values
		(for DDR3-1600) are 312 to 792.


config DRAM_ZQ
	int "allwinner dram zq value"
	default 3881979 if H6_V200
	help
		Set the dram zq value.


config DRAM_ODT_EN
	bool "allwinner dram odt enable"
	default y if MACH_SUN50I
	default y if MACH_SUN50I_H6
	default y if H6_V200
	help
		Select this to enable dram odt (on die termination).


config ALLWINNER_DRAM_DW
	bool
	---help---
	Select this for sunxi SoCs which uses a DRAM controller like the
	DesignWare controller used in H3, mainly SoCs after H3, which do
	not have official open-source DRAM initialization code, but can
	use modified H3 DRAM initialization code.

if ALLWINNER_DRAM_DW
config ALLWINNER_DRAM_DW_16BIT
	bool
	---help---
	Select this for sunxi SoCs with DesignWare DRAM controller and
	have only 16-bit memory buswidth.

config ALLWINNER_DRAM_DW_32BIT
	bool
	---help---
	Select this for sunxi SoCs with DesignWare DRAM controller with
	32-bit memory buswidth.
endif


if ALLWINNER_DRAM_DW || DRAM_ALLWINNER_H6
config ALLWINNER_DRAM_DDR3
	bool

config ALLWINNER_DRAM_DDR2
	bool

config ALLWINNER_DRAM_LPDDR3
	bool

choice
	prompt "DRAM Type and Timing"
	default ALLWINNER_DRAM_DDR3_1333 if !MACH_SUN8I_V3S
	default ALLWINNER_DRAM_DDR2_V3S if MACH_SUN8I_V3S

config ALLWINNER_DRAM_DDR3_1333
	bool "DDR3 1333"
	select ALLWINNER_DRAM_DDR3
	depends on !MACH_SUN8I_V3S
	---help---
	This option is the original only supported memory type, which suits
	many H3/H5/A64 boards available now.

config ALLWINNER_DRAM_LPDDR3_STOCK
	bool "LPDDR3 with Allwinner stock configuration"
	select ALLWINNER_DRAM_LPDDR3
	---help---
	This option is the LPDDR3 timing used by the stock boot0 by
	Allwinner.

config ALLWINNER_DRAM_H6_LPDDR3
	bool "LPDDR3 DRAM chips on the H6 DRAM controller"
	select ALLWINNER_DRAM_LPDDR3
	depends on DRAM_ALLWINNER_H6
	---help---
	This option is the LPDDR3 timing used by the stock boot0 by
	Allwinner.

config ALLWINNER_DRAM_H6_DDR3_1333
	bool "DDR3-1333 boot0 timings on the H6 DRAM controller"
	select ALLWINNER_DRAM_DDR3
	depends on DRAM_ALLWINNER_H6
	---help---
	This option is the DDR3 timing used by the boot0 on H6 TV boxes
	which use a DDR3-1333 timing.

config ALLWINNER_DRAM_DDR2_V3S
	bool "DDR2 found in V3s chip"
	select ALLWINNER_DRAM_DDR2
	depends on MACH_SUN8I_V3S
	---help---
	This option is only for the DDR2 memory chip which is co-packaged in
	Allwinner V3s SoC.

endchoice
endif



endif
